#my-header
	grid-template-columns:  1fr
	grid-template-rows: 50px 50px
	grid-gap: 50px
	min-height: 100vh
	grid-area: header
	position: relative 
	background-size: cover
    background-position: center
	background-image: url('../img/header-1.jpg')
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity:  .71
		background: linear-gradient(to right, $green, $light-blue)
		
		
    
.header-content
	grid-template-columns: minmax(320px, auto)
	display: inline-block
	z-index: 1	
	text-align: center
	position: relative
	color: $accent
	padding: 1rem $gutter
	vertical-align: middle
	h1
		font-size: 3rem
		font-weight: normal
		font-family: intro-grid sans-serif
	
.header-top
	height: 3em
	padding: 4rem 0
	align-content: center
	grid-template-columns: repeat(2 , minmax(260px,350px))
	position: relative
	margin: auto
	z-index: 1
	div:nth-child(1)
		justify-self: start
	div:nth-child(2)
		justify-self: end
.header-left
	font-size: 1rem
	font-family: "Roboto-ld" 
	img
		max-width: 400px

.header-center
	font-size: 1em
	grid-template-rows: repeat(2 , 1fr)
	grid-row-gap: 3px
	letter-spacing: 1px
	color: $accent
	align-content: center

.phone
	padding: .2rem
	font-size: 1.1rem 
	padding-right: .7em
	font-family: "Roboto-ld" 
	color: white
	text-decoration: none
	&:before
		  font-family: "FontAwesome"
		  font-size: 1.1rem 
.mphone
	padding: .2rem
	font-size: 1.1rem 
	padding-right: .7em
	font-family: "Roboto-ld" 
	text-indent: 7px
	color: white
	text-decoration: none
	&:before
		  font-family: "FontAwesome"
		  font-size: 1.3rem 

.mail
	padding: .2rem
	font-size: 1.1rem 
	font-family: "Roboto-ld" 
	&:before
		font-family: "FontAwesome" 
		font-size: 1.1rem 
		
#head-menu
	margin-top: 2rem
	height: 45px
	width: 100%
	background-color: #16a085
	text-align: center
	align-content: center
	z-index: 2
	transition: .4s

		
.mm-navbar
	position: relative
	height: 150px
	.mm-navbar__title
		position: relative
		padding: 0

.mm-menu_listview-justify .mm-panels > .mm-panel .mm-listview, .mm-panels > .mm-panel_listview-justify .mm-listview
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: repeat(5, 1fr) 
	height: 50%
	.mm-listitem
		display: grid
		text-align: left
		align-items: center
		font-size: 1rem
		font-family: "Roboto-md"
		color: $dark
		cursor: pointer
		a
			font-family: "Roboto-md"
			font-size: 1.5rem
	.mm-listitem:nth-child(1)
			
	.mm-listitem:nth-child(2)
			
	.mm-listitem:nth-child(3)
			
	.mm-listitem:nth-child(4)
			
	.mm-listitem:nth-child(5)
			
			 

	
	

	
	



	
	


