header#my-header.grid
 div.header-top.grid
  div.header-left
   img(src=require('../../img/Logo-1.png') alt="Логотип")
  div.header-center.grid
   i.phone.fa.fa-phone 
     a.phone(href="tel:+7 (495) 142-53-05") +7 (495) 142-53-05  
   i.mphone.fa.fa-mobile    
     a.mphone(href="tel:+7 (977) 613-52-02") +7 (977) 613-52-02  
   i.mail.fa.fa-envelope      
     a.mail info@moskrovservice.ru
 div#head-menu.grid
  include ../../components/menu/menu
 div.header-content.grid.content
  h1 Лучшие Решения Для Вас
 
     
  
   

   
  