header.main-header(style="background-image: url(src/img/header-2.jpg)")
 div.header-top.container.grid
  div.header-left
   img(src="src/img/Logo-3.png")
  div.header-center.grid
   i.phone.fa.fa-phone  +7 (495) 888 88 00
   i.mail.fa.fa-envelope      example@email.com
  nav.head-menu
   include ../../components/menu/menu
 div.header-content.grid
  h1 Лучшие Решения Для Вас
  
   

   
  