@import "_fonts"
//@import "libs"
@import "_vars"
@import "../components/menu/menu.sass"
@import "base"
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss'
.grid 
	display: grid

.main-header
	min-height: 681px
	background-size: cover
	background-position: center
	position: relative
	&::before
		content: ''
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		opacity: .73
		background: linear-gradient(to right, $green,$light-blue)
	
.header-top
	height: 50px
	padding: 75px 0
	align-content: center
	grid-template-columns: repeat(3 , 1fr)
	position: relative

.head-menu
	width: 650px

.container
	max-width: 1200px
	margin: auto
	
 



//@import "_media"

