@import "_fonts"
@import "../libs/hamburgers/hamburgers.scss"
@import "_vars"
@import "../components/menu/menu.sass"
@import "../partials/header/header.sass"
@import "../partials/about/about.sass"
@import "../partials/service/service.sass"
@import "../partials/work/work.sass"
@import "../partials/contacts/contacts.sass"
@import "../partials/footer/footer.sass"
@import "base"
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss'


.grid 
	display: grid
.container
	max-width: 1200px
	margin: auto
#m-menu
	position: fixed
	top: 0
	z-index: 2
	padding-top: 1rem 
	padding-left: .5rem

.hamburger
	padding: 3px
	.hamburger-box
		width: 30px
		.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
			border-radius: 0
			width: 25px
			height: 3px
			background-color: black

.sticky
	position: fixed
	top: 0
#head-menu.sticky
	margin-top: 0


	


	
	
 



@import "_media"

