@import "_fonts"
//@import "libs"
@import "_vars"
@import "../components/menu/menu.sass"
@import "../partials/header/header.sass"
@import "../partials/about/about.sass"
@import "../partials/service/service.sass"
@import "../partials/work/work.sass"
@import "../partials/contacts/contacts.sass"
@import "base"
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss'

.grid 
	display: grid


.container
	max-width: 1200px
	margin: auto
	
	
 



//@import "_media"

