nav#my-menu.grid
 ul
    li
     a(href="#my-header") Главная
    li
     a(href="#about_section") О компании
    li 
     a(href="#service_section") Как мы работаем
    li 
     a(href="#work_section") Схема работы
    li 
     a(href="#contact_section") Контакты



   
 
