#my-footer
    height: 20vh
    background-size: cover
    background-position: center
    grid-area: footer
    position: relative
    grid-row: row3 / row4
    &::before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        opacity: .71
        background: linear-gradient(to left, $green,$light-blue)
    
    