section.work-main
 div.service-bottom.grid.container
  h2 Схема работы
  div.sevice-bottom-items.grid
   p Оставляем заявку, согласовываем дату и время замера
  div.sevice-bottom-items.grid
   p Проведение замеров нашим специалистом
  div.sevice-bottom-items.grid
   p Заключение договора и оплата материалов
  div.sevice-bottom-items.grid
   p Осуществление монтажных работ
  div.sevice-bottom-items.grid
   p Приемка и оплата монтажных работ