.work-main
    position: relative
    min-height: 100vh
    padding-top: 40px
    margin: 0
.work-bottom
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 70px repeat(6, 150px)
    grid-auto-columns: minmax(200px,563px)
    grid-auto-flow: row
    font-family: "Roboto-md"
    font-size: 18pt
    position: relative
   
    p
        margin: 0 
        font-family: "Roboto-md"

    h2
        grid-column: 1 / -1
        align-content: center
        text-align: center
        font-family: "Roboto-md"
        font-weight: normal
        font-size: 24pt
        margin: 18px
        font-stretch: extra-condensed

    div:nth-child(2)
        grid-column-start: 1
    div:nth-child(3)
        grid-column-start: 2 
        justify-self: start
        grid-row-start: 3
    div:nth-child(4)
        grid-column-start: 1
        justify-self: end
        grid-row: 4
    div:nth-child(5)
        grid-column-start: 2
        justify-self: start
        grid-row-start: 5
    div:nth-child(6)
        grid-column: 1
        justify-self: end
        grid-row-start: 6
        
                
    .work-bottom-items
        position: relative
        align-items: center
        background-color: white
        &:nth-child(odd)
             text-align: left
             padding-left: 1.3rem
             &::before
              content: "●"
              position: absolute
              text-align: center
              text-indent: -.4rem
              line-height: 600%
              font-size: 25px
              color: #e67e22
              width: 2px
              height: 100%
              background: $grey
              
        


        &:nth-child(even)
             text-align: right
             padding-right: 1.3rem
             &::before
              content: "●"
              position: absolute
              left: 100%
              color: #e67e22
              line-height: 600%
              text-indent: -.4rem
              background: $grey
              width: 2px
              height: 100%
        
           
        
    

        



        