.about
    min-height: 100vh
    padding-top: 40px
    position: relative
    grid-template-columns: repeat(2 , 1fr)
    font-weight: normal 
    grid-auto-rows: auto
    letter-spacing: 1px
    font-size: 1.5rem
    h2
         font-size: 1.9rem
         margin: 0
         font-weight: normal
         font-family: "Roboto-md"
         font-stretch: extra-condensed
         text-align: center
    div:nth-child(3)
        grid-column: 1 / -1
        font-size: 2rem
        font-family: "Roboto-md"
        font-stretch: extra-condensed
        color: $dark
    

    div:nth-child(4)
        justify-items: end
        align-items: center
        

    div:nth-child(5)
        justify-items: start
        align-items: center
       
        

    div:nth-child(6)
        justify-items: end
        align-items: center
        

    div:nth-child(7)
        justify-items: start
        align-items: center
       
        
.about-right
    grid-template-rows: 40px minmax(150px, auto)
    padding: 20px $gutter
    h2
        text-align: center
        font-size: 2.5rem
        font-weight: normal
        margin: 0
        font-family: "Roboto-md" 
        font-stretch: extra-condensed
    p
        color: $grey
        font-family: "Roboto-md"

.about-left
    justify-items: end
    padding: 20px $gutter
    

    
    

.benefits-items
    position: relative
    grid-template-columns: 100px 1fr
    padding: $gutter 3rem
    text-align: left
    p
        margin: 0.5em
        font-size: 18pt
        font-family: "Roboto-md"
        color: $grey
        padding: .5rem

    img
        padding: 0.5em
        margin: 0.5em
        

    





    
    



    
        
 





    
    
    
         
       
        
