section.main-contacts.grid#contact_section
 div.contacts-items.grid.container
  div.contacts-left.grid
   form.contact_form(action="#" method="post" name="contact_form")
    h2 Свяжитесь с нами
    ul
     li
      span.required_notification 
     li
      input(type="text" placeholder="Имя" required)
     li
      input(name="tel" type="tel" pattern="(/\+7 ([0-9]{3}) [0-9]{3}-[0-9]{2}-[0-9]{2}/" placeholder="Телефон"  maxlength="12" required )
      span.form_hint Неверный формат "+7 (xxx)-xxx-xx-xx"
     li
      textarea(name="message" placeholder="Сообщение" cols="40" rows="6" )
     li
      button.submit(type="submit") Отправить
  div.contacts-right.grid
    h2 Наши контакты
    ul
     li
      span EMAIL
      a info@moskrovservice.ru
      hr
     li
      span ТЕЛЕФОН
      a(href="tel:+7 (495) 142-53-05") +7 (495) 142-53-05 
      a(href="tel:+7 (977) 613-52-02") +7 (977) 613-52-02
      hr  
      
  