doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        meta(name="description", content="Качественный и быстрый ремонт мягкой кровли в Москве и московской области. Бесплатный замер. ")
        meta(name="Keywords" content="ремонт мягкой кровли гидроизоляция крыши капитальный ремонт зимнее обслуживание ")
        title Ремонт мягкой кровли в Москве и Московской области   
    body 
        div.loaderArea
                 div.sk-fading-circle
                     div.sk-circle.sk-circle-1
                     div.sk-circle.sk-circle-2
                     div.sk-circle.sk-circle-3
                     div.sk-circle.sk-circle-4
                     div.sk-circle.sk-circle-5
                     div.sk-circle.sk-circle-6
                     div.sk-circle.sk-circle-7
                     div.sk-circle.sk-circle-8
                     div.sk-circle.sk-circle-9
                     div.sk-circle.sk-circle-10
                     div.sk-circle.sk-circle-11
                     div.sk-circle.sk-circle-12
        section#my-page.grid
             div#m-menu
                 a(href="#my-menu") 
                     span.hamburger.hamburger--collapse
                        span.hamburger-box
                          span.hamburger-inner
             include partials/header/header
             section#my-content
                 include partials/about/about
                 include partials/service/service
                 include partials/work/work
                 include partials/contacts/contacts
             include partials/footer/footer


     
     
        
        
       
        

