section.service-main
 div.service-top.grid.container
  div.our-service-items
   h2 Мы специализируемся на плоских кровлях
  div.our-service-items.grid
   div.our-service-items-left
    img(src="src/img/service-1.jpg", alt="")
   div.our-service-items-right.grid
    p Текущий ремонт кровли
   div.our-service-items-bottom
    p Частичный демонтаж со вскрытием, проплавкой всех вздутий и устройством нового кровельного ковра 
  div.our-service-items.grid
   div.our-service-items-left
    img(src="src/img/service-2.jpg", alt="")
   div.our-service-items-right.grid
    p Капитальный ремон
   div.our-service-items-bottom.grid
    p Полный демонтаж старого покрытия с заменой на Новый кровельный ковёр 
  div.our-service-items.grid
   div.our-service-items-left
    img(src="src/img/service-3.jpg", alt="")
   div.our-service-items-right.grid
    p Герметизация швов
   div.our-service-items-bottom
    p Промазка и протяжка всех стыков, швов металических крыш
  div.our-service-items.grid
   div.our-service-items-left
    img(src="src/img/service-4.png", alt="")
   div.our-service-items-right.grid
    p Герметизация швов
   div.our-service-items-bottom
    p Промазка и протяжка всех стыков, швов металических крыш
 
