section.service-main#service_section
 div.service-top.grid.container
  div.our-service-top
   h2 Мы специализируемся на плоских кровлях
  div.our-service-items.grid
   div.our-service-items-left(style="background-image: url(src/img/service-1.jpg)" alt="Рабочий на крыше")
   div.our-service-items-right.grid
    p <span class="header"> Текущий ремонт кровли </span><br><br> Частичный демонтаж со вскрытием, проплавкой всех вздутий и устройством нового кровельного ковра 
  div.our-service-items.grid
   div.our-service-items-left(style="background-image: url(src/img/service-4.png" alt="Рабочий ремнотирует мягкую кровлю")
   div.our-service-items-right.grid
    p <span class="header"> Капитальный ремон </span> <br><br> Полный демонтаж старого покрытия с заменой на Новый кровельный ковёр 
  div.our-service-items.grid
   div.our-service-items-left(style="background-image: url(src/img/service-3.jpg)" alt="Рабочие герметизируют крышу")
   div.our-service-items-right.grid
    p <span class="header">Герметизация швов </span> <br><br> Промазка и протяжка всех стыков, швов металических крыш
  div.our-service-items.grid
   div.our-service-items-left(style="background-image: url(src/img/service-2.jpg)" alt="зимнее обслуживание крыши")
   div.our-service-items-right.grid
    p <span class="header">Зимнее обслуживание крыш</span> <br><br> Чистка крыш от снега и наледи
 
