.service-main
    background-color: #ecf0f1
    height: 100vh
.service-top
    grid-template-columns: repeat(2,1fr)
    div:nth-child(1)
        grid-column: 1 / -1
        text-align: center
        font-size: 18pt
        font-family: "Roboto-md"
        font-stretch: extra-condensed
        color: $dark

.our-service-items
    grid-template-columns: 155px 1fr
    grid-template-rows: 1fr 70px
    padding: 20px $gutter
    text-align: left
    div:nth-child(1)
        grid-column: 1  / 2
        margin: 0
    p
        margin: 0
        padding: 10px 
        font-size: 18pt
        font-family: "Roboto-md"
    img
        width: 150px
        padding: 10px 

.our-service-items-right
    justify-items: start
    align-items: center
    font-size: 18pt
    font-weight: bold
.our-service-items-bottom
    grid-column: 1  / 3
    align-items: center
    font-family: "Roboto-md"
    color: $grey
.our-service-items-left
    align-items: center
    

           
        
    

        



        